*{
  box-sizing: border-box;
}

body{
  margin: 0;
  padding: 0;
  background-color: #1A1A1A;
  font-family: GT Walsheim Pro;
}

img{
  max-width: 100%;
}


/* Navbar.js styling starts from here */


header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  max-width: 1440px;
  margin: auto;
}

header .container ul{
  display: flex;
  width: 500px;
  justify-content: space-between;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #FFFFFFB3;
}

.developers{
  font-weight: bold;
  color: #FFFFFF;
}

.motion{
  color: #FFFFFF;
  font-weight: 500;
}

.backToFramer{
  font-size: 15px;
}

header hr{
  color: #FFFFFFB3;
  opacity: 0.1;
}

/* FirstSection.js styling starts from here */

.firstSection{
  position: relative;
}

.firstSection .container{
  display: flex;
  flex-direction: column;
  height: 885px;
  margin-left: 12.4em;
}

.firstSection h1{
  font-size: 116px;
  font-weight: bold;
  margin: 0 auto;
}

.firstSection .framer{
  margin: 1em auto 0 auto;
  color: #FFFFFF;
}

.firstSection .motion{
  background: -webkit-linear-gradient(#72f, #c1b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.firstSection p{
  width: 500px;
  font-size: 28px;
  color: #FFFFFF;
  line-height: 38px;
  font-weight: 500;
}

.firstSection a {
  font-size: 28px;
  font-weight: 500;
  color: #DD22CC;
}

.github-tag{
  margin-left: 1em;
}

.firstSection .outer-box{
  width: 239px;
  height: 451px;
  background-color: #212121;
  border-radius: 25px;
  position: absolute;
  top: 270px;
  left: 760px;
  transform: rotate(-2deg);
  cursor: pointer;
}

.firstSection .inner-box{
  width: 214px;
  height: 426px;
  background: linear-gradient(40deg,#f108a4,#bd19c8);
  border-radius: 20px;
  position: absolute;
  top: 281.5px;
  left: 772.5px;
  transform: rotate(-2deg);
  cursor: pointer;
}

.small-box-one, .small-box-two, .small-box-three, .small-box-four, .small-box-five{
  width: 46px;
  height: 46px;
  background-color: #FFFFFF;
  border-radius: 10px;
  position: absolute;
  top: 298px;
  left: 785px;
  transform: rotate(-2deg);
}

.small-box-two{
  left: 851px;
  top: 295px;
}

.small-box-three{
left: 917px;
top: 292px;
}

.small-box-four{
top: 360px;
left: 787px;
}

.small-box-five{
  top: 358px;
  left: 853px;
}



